.content-container {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 91.666667%;
    margin: 0 auto;
}

.section {
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.updates-section {
    margin-top: 3rem;
}

.section-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title-divider {
    margin: 0 0.5rem;
}