.header-section {
  background-attachment: fixed;
  background-image: url("../../Assets/bg.png");
  background-size: cover;
  background-position: center;
  height: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  text-align: center;
  color: white;
}

.logo-container {
  margin-right: 1rem;
  margin-bottom: -5px;
}
.logo {
  width: 140px;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
}
.titleText {
  margin-bottom: 0;
  width: 100%;
  margin: auto;
  text-align: justify;
}
.titleText:after {
  display: inline-block;
  width: 100%;
}
.InTheNameOfAllah {
  font-size: 3rem;
  text-align: center;
}
.arabicTitle {
  font-size: 32px;
}
@supports (-moz-appearance: none) {
  .arabicTitle {
    font-size: 2.5rem;
  }
}

.englishTitle {
  font-size: 1.8rem;
}

.tagline {
  font-size: 1.03rem;
}
